
<h3>Create new Tamgotchi</h3>
<form action="/output">
  <div class="form-group">
    <label for="tama_name">Tamagotchi Name:</label>
    <input name="tama_name" class="form-control" type="text">
  </div>
  <button class="btn btn-info">Create</button>
</form>
